<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BKAllocatedSize</key>
	<integer>5763072</integer>
	<key>BKDisplayName</key>
	<string>南柯记</string>
	<key>BKGenerationCount</key>
	<integer>2</integer>
	<key>BKInsertionDate</key>
	<integer>687333505</integer>
	<key>artistName</key>
	<string>汤显祖</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>EF47F00691FDA11D41BE47E26FDC34C6</string>
		<key>cover-image-path</key>
		<string>OEBPS/Images/cover00340.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>45CAEA7F154AE68352B0FF5ECEA2F63B</string>
		<key>publisher-unique-id</key>
		<string>4165149811</string>
		<key>unique-id</key>
		<integer>8654271320509072743</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>isPreview</key>
	<false/>
	<key>itemName</key>
	<string>南柯记</string>
	<key>updateDate</key>
	<date>2022-10-13T05:58:25Z</date>
</dict>
</plist>
